body {
  background: #B5EAEA;
}
hr {
  border-style: dotted none none;
  border-color: #716F81;
  border-width: 6.5px;
  width: 5%;
}

h1 {
  color: #716F81;
}
h3 {
  color: #716F81;
}
.p1 {
  font-family: cursive;
}
